<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web_Form</title>
</head>
<body>
    <h1>Bienvenido</h1>

    {% if user.is_authenticated %}
        <p>Hola, {{ user.username }}!</p>
        <a href="{% url 'logout' %}">Cierra sesión</a>
    {% else %}
        <a href="{% url 'login' %}">Inicia sesión</a>
    {% endif %}

    <div>
        <a href="{% url 'post_list' %}">Ir a POST LIST</a>
    </div>

<hr>

{% for mensaje in messages %}
    <p style="color:green;"> {{mensaje}} </p>
{% endfor %}
</body>
</html>